@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,700&display=swap');


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

body{
	display: flex;
	width: 100%;
	height: 100vh;
}

main{
	width: 50%;
	
}

img	{
	height: 100%;
	cursor: pointer;
}

header{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20%;
}

form{
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	color: #B09F89;
	text-decoration: none;
}



input {
	width: 70%;
	font-family: "Montserrat", sans-serif;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #B09F89;
	border-radius: 10px;
	background-color: rgba(239, 239, 239, 0.7);
	padding: 0.5rem;	
}



.question {
	width: 70%;
}

.question h5 a {
	 color: #B09F89;
	 font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 1rem;
}

.submit {
	font-family: "Montserrat", sans-serif;
	color: #FAF9F6;
	width: 10rem;
	background-color: rgba(64, 58, 50, 1.0);
	border: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;	
}


.submit:hover {
	background-color: rgba(64, 58, 50, 0.8);
}

aside {
	background-color: #B09F89;
	width: 50%;
	height: 100%;
	font-family: "Montserrat", sans-serif;
	color: #FAF9F6;
	display: flex;
	align-items: center;
	justify-content: center;
}

aside h1 {
	font-size: 2rem;
}


@media only screen and (max-width: 650px) {
	aside{
		display: none;
	}

	header{
		height: 10%;
	}

	main{
		width: 100%;
	}

	form{
		height: 90%;
	}
}

