@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,700&display=swap');


body {
	overflow-y: hidden;
	overflow-y: visible;
	overflow-x: visible;
	overflow-x: hidden;
}

img	{
	width: 100px;
	margin-left: 1770px;
	margin-top: 20px;
	cursor: pointer;
}

h1 {

	background-color: #B09F89;
	width: 950px;
	height: 120px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 34px;
	color: #FAF9F6;
	text-align: center;
	padding: 230px 90px 190px 80px;
	margin: -500px 0px 170px 850px;

}


h2 {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 48px;
		color: #B09F89;
		text-decoration: none;
		margin: 150px 8px 30px 303px;	
}

.firstname {
		border-left: none;
 		border-top: none;
		border-right: none;
		border-bottom: 1px solid #B09F89;
		background-color: rgba(239, 239, 239, 0.7);
		padding: 10px 20px 10px 10px;
		margin: -50px 8px 8px 200px;				
}


.lastname {
		font-family: "Montserrat", sans-serif;
	    border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #B09F89;
		background-color: rgba(239, 239, 239, 0.7);
		padding: 10px 8px 10px 12px;
		margin-left: 33px;
}


.email {
		font-family: "Montserrat", sans-serif;
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #B09F89;
		background-color: rgba(239, 239, 239, 0.7);
		padding: 10px 20px 10px 10px;
		margin: 8px 8px 8px 200px;				
}


.username{
		font-family: "Montserrat", sans-serif;
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #B09F89;
		background-color: rgba(239, 239, 239, 0.7);
		padding: 10px 20px 10px 10px;
		margin: 8px 8px 8px 200px;				
}


.password {
		font-family: "Montserrat", sans-serif;
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #B09F89;
		background-color: rgba(239, 239, 239, 0.7);
		padding: 10px 20px 10px 10px;
		margin: 8px 8px 8px 200px;				
}



.question {
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		padding: 10px 20px 10px 10px;
		margin: 0px 8px 8px 303px;	
}


.question a {
	 	color: #B09F89;
}


.submit {

		color: #B09F89;
		padding: 9px 25px;
		background-color: rgba(64, 58, 50, 1.0);
		border: none;
		cursor: pointer;
		transition: all 0.3s ease 0s;
}


.submit {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: #FAF9F6;
	padding: 9px 25px;
	background-color: rgba(64, 58, 50, 1.0);
	border: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	padding: 10px 20px 10px;
	margin: -10px 8px 8px 348px;	
}


.submit:hover {
	background-color: rgba(64, 58, 50, 0.8);
}


