@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf9f6;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* BELOW IS NAV BAR STYLING */

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  width: 100%;
  background-color: #7d7161;
}
.log-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #403a32;
}

button {
  padding: 9px 25px;
  background-color: rgba(64, 58, 50, 1);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(64, 58, 50, 0.8);
}

/* END OF NAV BAR STYLING */

/* BELOW IS HOME PAGE (BODY) STYLING */

.start-first {
  margin: 5% 0;
}

.hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero img {
  width: 50%;
}

.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
}
.hero div h3 {
  color: #7d7161;
  font-size: 2rem;
}
.hero div h3 span {
  color: black;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.info {
  margin: 5% 0;
}

.info div {
  padding: 2%;
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.info .title {
  justify-content: end;
  background-color: #7d7161;
  color: #edf0f1;
}

.info .start-first {
  justify-content: start;
}

p {
  font-size: 1.5rem;
  color: black;
}

/* BELOW IS add feedback STYLING */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25rem;
  width: 100%;
}

.feedback-form {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

textarea {
  text-align: center;
  width: 55%;
  height: 15rem;
  font-size: 1.2rem;
  resize: none;
  border-radius: 10px;
}

.feedback-desc {
  color: #7d7161;
  text-align: center;
}

.feedback-submit {
  font-family: "Montserrat", sans-serif;
  color: #faf9f6;
  background-color: rgba(64, 58, 50, 1);
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  width: 10rem;
  padding: 1% 0.5%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* BELOW IS brose apartment STYLING */

.browse-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding-bottom: 3%;
}

.apartment {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 15rem;
  background-color: #efdecd;
  border: 2px #403a32 solid;
  border-radius: 25px;
  overflow: hidden;
}

.apartment-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 2%;
  text-align: left;
}

.label {
  font-size: 1.3rem;
  font-weight: bold;
}
.detail {
  font-size: 1.1rem;
}
.money {
  color: #3e9c35;
}
.bid-container {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bid-input {
  font-size: 1.2rem;
  width: 68%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid;
}
.bid-btn {
  width: 30%;
  height: 100%;
  font-size: 1rem;
  padding: 1%;
  border-radius: 5px;
}

.apartment-img-container {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apartment-img {
  max-height: 100%;
  width: 100%;
}

/* BELOW IS add apartment STYLING */

.Add-apartments-container {
  height: 25rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.add-form {
  height: 20rem;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 3px #403a32cc solid;
  border-radius: 15px;
}

.add-input {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #b09f89;
  border-radius: 10px;
  background-color: rgba(239, 239, 239, 0.7);
  padding: 0.5rem;
  font-size: 1.5rem;
}

/* BELOW IS signup and login STYLING */

.sign-body {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
}

.sign-img {
  height: 100%;
  cursor: pointer;
}

.sign-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  background-color: transparent;
  padding: 0;
}

.sign-main {
  width: 50%;
  height: 100%;
}

.sign-form {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #b09f89;
  text-decoration: none;
}

.full-input {
  width: 70%;
  height: 10%;
}

.full-input input {
  width: 100%;
  height: 85%;
}

.sign-input {
  font-size: 1.4rem;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #b09f89;
  border-radius: 10px;
  outline: none;
  background-color: rgba(239, 239, 239, 0.7);
  padding: 0 0.5rem;
}

.sign-input:focus {
  border: 1.5px black solid;
}

.half-input {
  height: 10%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.half-input input {
  font-size: 1.2rem;
  height: 85%;
  width: 45%;
}

.submit {
  font-family: "Montserrat", sans-serif;
  color: #faf9f6;
  background-color: rgba(64, 58, 50, 1);
  border: none;
  width: 1rem;
  padding: 0.5% 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.submit:hover {
  background-color: rgba(64, 58, 50, 0.8);
}

aside {
  background-color: #b09f89;
  width: 50%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #faf9f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2%;
}

aside h1 {
  width: fit-content;
  font-size: 2rem;
}

.log-main {
  width: 50%;
}

.log-form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-input {
  width: 70%;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #b09f89;
  border-radius: 10px;
  outline: none;
  background-color: rgba(239, 239, 239, 0.7);
  padding: 0.5rem 1rem;
}

.log-input:focus {
  border: 1.5px black solid;
}

.question {
  width: 70%;
}

.question h5 a {
  color: #b09f89;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.sign-submit {
  font-family: "Montserrat", sans-serif;
  color: #faf9f6;
  width: 10rem;
  height: 8%;
  border-radius: 10px;
  background-color: rgba(64, 58, 50, 1);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease 0s;
}

.submit:hover {
  background-color: rgba(64, 58, 50, 0.8);
}

aside {
  background-color: #b09f89;
  width: 50%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #faf9f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside h1 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
input:focus.wrong {
  border: 2px red solid;
}

.wrong{
  border: 2px red solid;
}

/* BELOW IS FOOTER STYLING */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7d7161;
  color: #faf9f6;
  width: 100%;
  height: 3rem;
  font-size: 1.7rem;
}

/* below extra styling like tooltip*/
.full-input {
  position: relative;
}
.full-input .sign-hint {
  content: "";
  position: absolute;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  min-width: 110%;
  background-color: rgba(239, 222, 205);
  border: 2px #403a32 solid;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in;
  z-index: -1;
}

.full-input .sign-hint::before{
  content: "";
  position: absolute;
  left: 50%;
  top:100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #403a32 transparent transparent;
}
 .sign-input:focus + .hint {
  opacity: 1;
  bottom: 135%;
  visibility: visible;
  z-index: 1;
  transition: 0.4s
}

.sign-hint.err-msg {
  opacity: 1;
  bottom: 135%;
  visibility: visible;
  z-index: 1;
}

#err-msg{
  transition-duration: 1s;
}

.disabled{
  background-color: lightgray;
  cursor: pointer;
}